body{
    margin: 0;
    padding: 0;
    background-color: #f5f2e1;
    font-family: 'Nanum Gothic', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,a{
    line-height: 1;/*줄높이,글높이*/
    font-size: 100%; /* 기본글자크기 16px */
    margin: 0;
}
/* 상단영역 */
header{
    display: flex;
    justify-content: start;
    justify-content: end;
    justify-content: center;
    width: 1440px;
    margin: 0 auto 0 auto;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: calc(50% - 720px);
    color: white;
    z-index: 5;
}
div>*{ /* css주석 >바로아래 * 모든 요소 */
    /*! border: 1px solid; */
}
h1{
    font-size: 59px;
    color: #9292ce;
    margin: 20px;
}
header h1 a{ /* 하위 선택자 h1안(아래)에 있는 a*/
    font-size: 0;
    background-image: url(../img/logo.svg);
    width: 80px;
    height: 80px;
    display: block;
    background-repeat: no-repeat;
    filter: invert(100);
}
header ul{
    list-style: none;
    display: flex;
    /*! gap: 15px; */
    margin: 1px 2px 3px 4px;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}
header ul li{
    width: 25%;
    text-align: center;
}
header ul li a{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    /*! color: #333; */
    display: block;
    padding: 15px;
    color: white;
    transition: all 0.3s;
}
header ul li a:hover{ /*:hover은 해당요소에 마우스를 올린상태를 의미 */
    color: rgba(255,255,255,0.4);
}
a{
 text-decoration: none; /*밑줄없애기*/
}
header>a:nth-of-type(1){ /* > 자식선택자 바로아래에 있는 요소를 선택(header태그바로아래에 있는 a) */
    background-image: url(../img/menuicon.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    filter: invert(100);
    display: none;
}


header>a:nth-of-type(2)::after{
    content: "";
    display: block;
    border-top: 3px solid black;
    margin-top: 11px;
}











